<h1>Pantry Rails Project - CSCI630</h1>
<p><a href="reducingwaste">Reducing Waste</a> </p>
<p><a href="#">Measuring Impact</a> </p>
<p><a href="#">Inventory</a> </p>
<p><a href="#">Provider</a> </p>
<p><a href="#">Add Item</a> </p>
<p><a href="#">Checkout</a> </p>