<h1>Pantry Rails Project - CSCI630</h1>
<p>&nbsp;</p>
<p><a href="reducingwaste">Reducing Waste</a> </p>
<p><a href="measuringimpact">Measuring Impact</a> </p>
<p><a href="items">Inventory</a> </p>
<p><a href="provider/">Provider</a> </p>
<p><a href="items/new">Add Item</a> </p>
<p><a href="checkout">Checkout</a> </p>