<table style="width:100%">
    <tr>
        <td><h1>Provider Details</h1></td>
        <td style="float:right">
            <a href="/">
                <button type="button" class="btn btn-info" value="edit">Dashboard</button>
            </a>
        </td>
    </tr>
</table>

